*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
  text-decoration: none; }

body {
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box; }

.main-header {
  background: url("https://source.unsplash.com/z1B9f48F5dc/1200") no-repeat center;
  background-size: cover;
  flex-direction: column;
  width: 100%;
  height: 600px;
  display: flex;
  padding: 10px; }
  .main-header .nav {
    color: #272727;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    .main-header .nav .logo {
      color: #272727; }
    .main-header .nav .nav-items {
      min-width: 400px; }
      .main-header .nav .nav-items ul {
        display: flex;
        justify-content: space-between; }
    .main-header .nav .nav-icons ul {
      display: flex; }
    .main-header .nav .nav-icons li {
      width: 20px;
      height: 20px;
      background-color: #ffffff;
      border-radius: 50%; }
      .main-header .nav .nav-icons li + li {
        margin-left: 10px; }
  .main-header .hamburger-button {
    display: none; }
  .main-header .banner {
    margin: auto;
    text-align: center; }
    .main-header .banner h1 {
      color: #ffffff;
      font-weight: 500;
      font-size: 32px; }
    .main-header .banner .call-to-action {
      color: #ffffff;
      font-weight: bold;
      font-size: 42px;
      border-bottom: 3px solid #f5e5d9; }

.section-one {
  position: relative;
  height: 800px;
  margin-bottom: 60px; }
  .section-one article {
    max-width: 1100px;
    margin: 0 auto;
    left: -68px;
    position: absolute;
    width: 800px;
    padding: 100px 0;
    background-color: #f6f6f6; }
    @media only screen and (max-width: 768px) {
      .section-one article {
        width: 90%;
        margin: 0 auto; } }
    .section-one article .content {
      max-width: 400px;
      margin: 0 auto; }
      .section-one article .content h2 {
        font-weight: 500;
        font-size: 32px;
        color: #272727;
        line-height: 1.2; }
      .section-one article .content p {
        margin: 30px 0;
        max-width: 300px;
        line-height: 1.2; }
      .section-one article .content a {
        padding: 15px 25px;
        color: #fff;
        background-color: #000000;
        display: block;
        width: 250px;
        text-align: center; }
        @media only screen and (max-width: 768px) {
          .section-one article .content a {
            margin: 0 auto; } }
      @media only screen and (max-width: 768px) {
        .section-one article .content {
          text-align: center; } }
  .section-one .bottom-center-image {
    position: absolute;
    bottom: 0px;
    right: calc(50% - 250px);
    width: 500px;
    height: 350px;
    object-fit: cover; }
    .section-one .bottom-center-image img {
      height: 100%;
      width: 100%; }
  .section-one .top-right-img {
    position: absolute;
    right: 40px;
    height: 350px;
    width: 350px;
    object-fit: cover; }
    .section-one .top-right-img img {
      width: 100%;
      margin: 0 auto; }
  .section-one .bottom-right-img {
    position: absolute;
    right: 0px;
    height: 380px;
    width: 300px;
    bottom: 200px;
    z-index: -1; }
    .section-one .bottom-right-img img {
      object-fit: cover;
      width: 100%;
      margin: 0 auto; }

@media only screen and (max-width: 768px) {
  .section-one article {
    position: static;
    padding: 100px 20px;
    width: fit-content;
    text-align: center; }
    .section-one article p {
      margin: 0; }
  .section-one .bottom-center-image {
    display: inherit;
    width: 90%;
    height: 160px;
    bottom: 20px;
    left: calc(50% - 162px);
    object-fit: cover; }
  .section-one .top-right-img {
    display: none; }
  .section-one .bottom-right-img {
    display: none; } }

.section-two {
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
  height: 500px;
  margin-bottom: 80px; }
  @media only screen and (max-width: 768px) {
    .section-two {
      width: 90%;
      margin: 0 auto; } }
  .section-two .content {
    max-width: 400px; }
    .section-two .content h2 {
      font-weight: 500;
      font-size: 32px;
      color: #272727;
      line-height: 1.2; }
    .section-two .content p {
      margin: 30px 0;
      max-width: 300px;
      line-height: 1.2; }
    .section-two .content a {
      padding: 15px 25px;
      color: #fff;
      background-color: #000000;
      display: block;
      width: 250px;
      text-align: center; }
      @media only screen and (max-width: 768px) {
        .section-two .content a {
          margin: 0 auto; } }
    @media only screen and (max-width: 768px) {
      .section-two .content {
        text-align: center; } }
  .section-two .right-img {
    position: absolute;
    right: -125px;
    z-index: 2;
    top: -120px;
    width: 600px;
    height: 600px; }

@media only screen and (max-width: 768px) {
  .section-two {
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .section-two .right-img {
      margin-top: 40px;
      height: 200px;
      width: 300px;
      position: static;
      border-radius: 5px;
      object-fit: cover; } }

.product-section {
  max-width: 1100px;
  margin: 0 auto;
  margin-bottom: 140px; }
  @media only screen and (max-width: 768px) {
    .product-section {
      width: 90%;
      margin: 0 auto; } }
  .product-section h2 {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    margin-bottom: 100px; }
  .product-section .product-list {
    display: flex; }
    .product-section .product-list li {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 280px;
      justify-content: center;
      text-align: center;
      margin-right: 20px; }
      .product-section .product-list li .flag {
        position: absolute;
        top: 0px;
        background-color: #fff;
        color: #000;
        text-transform: uppercase;
        padding: 3px 8px;
        font-size: 12px;
        display: none; }
        .product-section .product-list li .flag.active {
          display: block; }
      .product-section .product-list li h3 {
        text-transform: uppercase;
        margin-bottom: 15px;
        font-weight: 500; }
      .product-section .product-list li img {
        object-fit: cover;
        height: 90%;
        width: 100%; }
      .product-section .product-list li p {
        text-align: center;
        max-width: 110px;
        line-height: 1;
        margin: 10px auto; }
      .product-section .product-list li a {
        padding: 15px 25px;
        color: #fff;
        background-color: #000000;
        display: block;
        width: 250px;
        text-align: center;
        padding: 10px;
        background: none;
        color: #000000;
        border: solid 2px #000000;
        width: 100%; }
        @media only screen and (max-width: 768px) {
          .product-section .product-list li a {
            margin: 0 auto; } }

.quote-section {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
  margin-bottom: 60px; }
  @media only screen and (max-width: 768px) {
    .quote-section {
      width: 90%;
      margin: 0 auto; } }
  .quote-section h1 {
    font-size: 32px;
    max-width: 800px;
    text-align: center;
    font-weight: 500; }

.blog-section {
  width: 100%;
  background-color: #f6f6f6; }
  .blog-section .introduction-area {
    max-width: 1100px;
    margin: 0 auto; }
    @media only screen and (max-width: 768px) {
      .blog-section .introduction-area {
        width: 90%;
        margin: 0 auto; } }
    .blog-section .introduction-area article {
      position: relative;
      height: 600px;
      margin-bottom: 160px;
      padding: 80px 0; }
      .blog-section .introduction-area article .content {
        max-width: 400px; }
        .blog-section .introduction-area article .content h2 {
          font-weight: 500;
          font-size: 32px;
          color: #272727;
          line-height: 1.2; }
        .blog-section .introduction-area article .content p {
          margin: 30px 0;
          max-width: 300px;
          line-height: 1.2; }
        .blog-section .introduction-area article .content a {
          padding: 15px 25px;
          color: #fff;
          background-color: #000000;
          display: block;
          width: 250px;
          text-align: center; }
          @media only screen and (max-width: 768px) {
            .blog-section .introduction-area article .content a {
              margin: 0 auto; } }
        @media only screen and (max-width: 768px) {
          .blog-section .introduction-area article .content {
            text-align: center; } }
      .blog-section .introduction-area article .right-image {
        position: absolute;
        right: -125px;
        z-index: 2;
        top: -60px;
        width: 600px;
        height: 600px;
        object-fit: cover; }

.blog-posts {
  height: 1000px; }
  .blog-posts ul {
    display: flex;
    align-items: center;
    justify-content: center; }
    .blog-posts ul .blog-post {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 360px;
      height: 500px;
      position: relative;
      z-index: 1; }
      .blog-posts ul .blog-post:first-child {
        height: 350px;
        transform: translateX(30px);
        z-index: 4; }
      .blog-posts ul .blog-post:last-child {
        z-index: 0;
        height: 350px;
        transform: translateX(-20px); }
      .blog-posts ul .blog-post img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-bottom: 10px; }
      .blog-posts ul .blog-post .about {
        max-width: 210px; }
        .blog-posts ul .blog-post .about span {
          max-width: 50px;
          border-bottom: 2px solid #444; }
        .blog-posts ul .blog-post .about h2 {
          font-size: 32px;
          line-height: 1.2;
          margin: 20px 0;
          font-weight: 500;
          color: #272727; }

.blog-banner-area {
  width: 100%;
  height: 500px;
  background: url("https://picsum.photos/id/15/1100/800") no-repeat;
  background-size: cover;
  margin-bottom: 120px; }
  .blog-banner-area > div {
    max-width: 1100px;
    margin: 0 auto; }
    @media only screen and (max-width: 768px) {
      .blog-banner-area > div {
        width: 90%;
        margin: 0 auto; } }
  .blog-banner-area .left-image {
    text-align: center;
    color: #f5e5d9;
    height: 400px;
    width: 300px;
    transform: translateY(60px); }
    .blog-banner-area .left-image img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 4px; }
  .blog-banner-area h3 {
    text-align: right;
    color: #ffffff;
    font-size: 32px; }

@media only screen and (max-width: 768px) {
  .blog-section .introduction-area article {
    height: auto;
    display: flex;
    flex-direction: column; }
    .blog-section .introduction-area article .content {
      order: 2; }
    .blog-section .introduction-area article .right-image {
      height: 300px;
      width: 100%;
      object-fit: cover;
      margin-bottom: 15px;
      position: static;
      order: 1; } }

.footer-section .address {
  text-align: center;
  margin-bottom: 120px; }
  .footer-section .address a {
    display: block;
    color: #272727;
    border-bottom: 2px solid #272727;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 40px; }
  .footer-section .address p {
    line-height: 1.4;
    font-weight: 500;
    font-size: 28px; }

.footer-section form {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 80px; }
  @media only screen and (max-width: 768px) {
    .footer-section form {
      width: 90%;
      margin: 0 auto; } }
  .footer-section form input {
    margin: 0 15px;
    outline: none;
    border: 0;
    flex: 1;
    border-bottom: 2px solid #272727;
    padding: 5px; }
  .footer-section form h2 {
    font-size: 16px;
    font-weight: normal;
    max-width: 260px; }
  .footer-section form button {
    padding: 15px 25px;
    color: #fff;
    background-color: #000000;
    display: block;
    width: 250px;
    text-align: center;
    border: none;
    cursor: pointer; }
    @media only screen and (max-width: 768px) {
      .footer-section form button {
        margin: 0 auto; } }

.footer-section .bottom-footer {
  background-color: #f5e5d9;
  padding-top: 40px; }
  .footer-section .bottom-footer nav {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 100%; }
    @media only screen and (max-width: 768px) {
      .footer-section .bottom-footer nav {
        width: 90%;
        margin: 0 auto; } }
  .footer-section .bottom-footer span {
    display: block;
    text-align: center;
    margin-top: 40px; }

@media only screen and (max-width: 768px) {
  .main-header .hamburger-button {
    display: block;
    top: 20;
    position: absolute;
    top: 10px;
    right: 20px; }
    .main-header .hamburger-button button {
      width: 40px;
      height: 40px;
      background: none;
      border: 0;
      box-shadow: none;
      cursor: pointer;
      vertical-align: middle;
      z-index: 999; }
      .main-header .hamburger-button button span {
        display: block;
        width: 80%;
        height: 2px;
        margin: 5px auto;
        background: #fff;
        transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1); }
        .main-header .hamburger-button button span:hover, .main-header .hamburger-button button span:focus {
          background: #ccc; }
        .main-header .hamburger-button button span:first-of-type {
          transform: rotate(45deg) translate(5px, 5px); }
        .main-header .hamburger-button button span:nth-of-type(2) {
          opacity: 0; }
        .main-header .hamburger-button button span:last-of-type {
          transform: rotate(-45deg) translate(5px, -5px); }
      .main-header .hamburger-button button:focus {
        outline: 0; }
      .main-header .hamburger-button button.menu-closed span {
        transform: none;
        opacity: 1; }
  .main-header .nav.active {
    top: 0px;
    overflow-y: hidden; }
  .main-header .nav {
    top: -700px;
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
    position: absolute;
    transition: top 0.4s ease;
    flex-direction: column;
    align-items: center;
    left: 0; }
    .main-header .nav a {
      color: #000; }
    .main-header .nav .navigation {
      justify-content: center;
      flex-direction: column;
      margin: 0 auto;
      align-items: center; }
    .main-header .nav .nav-icons {
      bottom: 0;
      flex-direction: column; }
  .product-section h2 {
    margin-bottom: 20px; }
  .product-section .product-list {
    flex-direction: column;
    align-items: center; }
    .product-section .product-list li {
      margin-bottom: 30px;
      margin-right: 0; }
      .product-section .product-list li .flag {
        top: 60px;
        left: 0; }
      .product-section .product-list li img {
        height: 400px; } }
