*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
  text-decoration: none; }

body {
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box; }

.main-header {
  background: url("https://picsum.photos/id/1044/4032/2268") no-repeat center;
  background-size: cover;
  flex-direction: column;
  width: 100%;
  height: 550px;
  display: flex;
  padding: 10px; }
  .main-header nav {
    color: #f6f6f6;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    .main-header nav .logo {
      color: #f6f6f6; }
    .main-header nav .nav-items {
      min-width: 400px; }
      .main-header nav .nav-items ul {
        display: flex;
        justify-content: space-between; }
    .main-header nav .nav-icons ul {
      display: flex; }
    .main-header nav .nav-icons li {
      width: 20px;
      height: 20px;
      background-color: #ffffff;
      border-radius: 50%; }
      .main-header nav .nav-icons li + li {
        margin-left: 10px; }
  .main-header .banner {
    margin: auto;
    text-align: center; }
    .main-header .banner h1 {
      color: #f6f6f6;
      font-weight: 500;
      font-size: 32px; }
    .main-header .banner .call-to-action {
      color: #ffffff;
      font-weight: bold;
      font-size: 42px;
      border-bottom: 3px solid #ffffff; }

.main {
  max-width: 1100px;
  margin: 0 auto; }

.section-one {
  position: relative;
  height: 800px;
  margin-bottom: 60px; }
  .section-one article {
    position: absolute;
    width: 800px;
    left: -200px;
    padding: 100px 0;
    background-color: #f5e5d9; }
    .section-one article .content {
      max-width: 400px;
      margin: 0 auto; }
      .section-one article .content h2 {
        font-weight: 500;
        font-size: 32px;
        color: #272727;
        line-height: 1.2; }
      .section-one article .content p {
        margin: 30px 0;
        max-width: 300px;
        line-height: 1.2; }
      .section-one article .content a {
        padding: 15px 25px;
        color: #fff;
        background-color: #000000;
        display: block;
        width: 250px;
        text-align: center; }
  .section-one .bottom-center-image {
    position: absolute;
    bottom: 0px;
    right: calc(50% - 250px);
    width: 500px;
    height: 350px;
    border-radius: 5px; }
  .section-one .top-right-img {
    position: absolute;
    right: -100px;
    height: 350px;
    width: 350px; }
    .section-one .top-right-img img {
      width: 100%;
      margin: 0 auto; }
  .section-one .bottom-right-img {
    position: absolute;
    right: -125px;
    height: 400px;
    width: 300px;
    bottom: 200px;
    z-index: -1; }
    .section-one .bottom-right-img img {
      width: 100%;
      margin: 0 auto; }

.section-two {
  position: relative; }
  .section-two .content {
    max-width: 400px; }
    .section-two .content h2 {
      font-weight: 500;
      font-size: 32px;
      color: #272727;
      line-height: 1.2; }
    .section-two .content p {
      margin: 30px 0;
      max-width: 300px;
      line-height: 1.2; }
    .section-two .content a {
      padding: 15px 25px;
      color: #fff;
      background-color: #000000;
      display: block;
      width: 250px;
      text-align: center; }
  .section-two .right-img {
    position: absolute;
    right: -125px;
    z-index: 2;
    top: -120px;
    width: 600px;
    height: 600px; }
