@mixin wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

@mixin call-to-action-button {
  padding: 15px 25px;
  color: #fff;
  background-color: $color-black;
  display: block;
  width: 250px;
  text-align: center;
}
