.section-one {
  position: relative;
  height: 800px;
  margin-bottom: 60px;

  article {
    @include wrapper;
    left: -68px;
    position: absolute;
    width: 800px;
    padding: 100px 0;
    background-color: $color-gray;
    .content {
      @include call-to-action-article;
      margin: 0 auto;
    }
  }
  .bottom-center-image {
    position: absolute;
    bottom: 0px;
    right: calc(50% - 250px);
    width: 500px;
    height: 350px;
    object-fit: cover;
    img {
      height: 100%;
      width: 100%;
    }
    @media only screen and (max-width: 900px) {
      display: none;
    }
  }
  .top-right-img {
    position: absolute;
    right: 40px;
    height: 350px;
    width: 350px;
    object-fit: cover;
    img {
      width: 100%;
      margin: 0 auto;
    }
  }
  .bottom-right-img {
    position: absolute;
    right: 0px;
    height: 380px;
    width: 300px;
    bottom: 200px;
    z-index: -1;
    img {
      object-fit: cover;
      width: 100%;
      margin: 0 auto;
    }
  }
}
