.main-header {
  background: url("https://source.unsplash.com/z1B9f48F5dc/1200") no-repeat
    center;
  background-size: cover;
  flex-direction: column;
  width: 100%;
  height: 600px;
  display: flex;
  padding: 10px;
  .nav {
    .logo {
      color: $color-gray-1;
    }
    color: $color-gray-1;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .nav-items {
      min-width: 400px;
      ul {
        display: flex;
        justify-content: space-between;
      }
    }
    .nav-icons {
      ul {
        display: flex;
      }
      li {
        width: 20px;
        height: 20px;
        background-color: $color-white;
        border-radius: 50%;
        & + li {
          margin-left: 10px;
        }
      }
    }
  }
  .hamburger-button {
    display: none;
  }

  .banner {
    margin: auto;
    text-align: center;
    h1 {
      color: $color-white;
      font-weight: 500;
      font-size: 32px;
    }
    .call-to-action {
      color: $color-white;
      font-weight: bold;
      font-size: 42px;
      border-bottom: 3px solid $color-almond;
    }
  }
}

// https://source.unsplash.com/m1MRYp556Ew
