.section-two {
  @include wrapper;
  position: relative;
  height: 500px;
  margin-bottom: 80px;
  margin-top: 60px;

  .content {
    @include call-to-action-article;
  }
  .right-img {
    position: absolute;
    right: -125px;
    z-index: 2;
    top: -120px;
    width: 600px;
    height: 600px;
  }
}
