.section-one {
  @include wrapper;
  position: relative;
  height: 800px;
  margin-bottom: 60px;

  article {
    position: absolute;
    width: 800px;
    left: -200px;
    padding: 100px 0;
    background-color: $color-almond;
    .content {
      @include call-to-action-article;
      margin: 0 auto;
    }
  }
  .bottom-center-image {
    position: absolute;
    bottom: 0px;
    right: calc(50% - 250px);
    width: 500px;
    height: 350px;
    border-radius: 5px;
  }
  .top-right-img {
    position: absolute;
    right: -100px;
    height: 350px;
    width: 350px;
    img {
      width: 100%;
      margin: 0 auto;
    }
  }
  .bottom-right-img {
    position: absolute;
    right: -125px;
    height: 400px;
    width: 300px;
    bottom: 200px;
    z-index: -1;
    img {
      width: 100%;
      margin: 0 auto;
    }
  }
}
