.section-one {
  position: relative;
  height: 800px;
  margin-bottom: 60px;

  article {
    @include wrapper;
    left: -68px;
    position: absolute;
    width: 800px;
    padding: 100px 0;
    background-color: $color-gray;
    .content {
      @include call-to-action-article;
      margin: 0 auto;
    }
  }
  .bottom-center-image {
    position: absolute;
    bottom: 0px;
    right: calc(50% - 250px);
    width: 500px;
    height: 350px;
    object-fit: cover;
    img {
      height: 100%;
      width: 100%;
    }
  }
  .top-right-img {
    position: absolute;
    right: 40px;
    height: 350px;
    width: 350px;
    object-fit: cover;
    img {
      width: 100%;
      margin: 0 auto;
    }
  }
  .bottom-right-img {
    position: absolute;
    right: 0px;
    height: 380px;
    width: 300px;
    bottom: 200px;
    z-index: -1;
    img {
      object-fit: cover;
      width: 100%;
      margin: 0 auto;
    }
  }
}

@media only screen and (max-width: 768px) {
  .section-one {
    height: auto;
    background-color: $color-gray;
    padding: 40px 0;
    flex-direction: column;
    display: flex;
    article {
      padding: 20px 0;
      position: static;
      order: 2;
    }

    .bottom-center-image {
      position: static;
      margin: 0 auto;
      order: 1;
      width: 90%;
      height: 200px;
      object-fit: cover;
    }
    .top-right-img {
      display: none;
    }
    .bottom-right-img {
      display: none;
    }
  }
}
