.section-two {
  @include wrapper;
  position: relative;
  height: 500px;
  margin-bottom: 80px;

  .content {
    @include call-to-action-article;
  }
  .right-img {
    position: absolute;
    right: -125px;
    z-index: 2;
    top: -120px;
    width: 600px;
    height: 600px;
  }
}

@media only screen and (max-width: 768px) {
  .section-two {
    position: static;
    height: auto;
    display: flex;
    flex-direction: column;
    article {
      padding: 20px 0;
      order: 2;
    }
    .right-img {
      margin: 0 auto;
      height: 200px;
      width: 90%;
      position: static;
      object-fit: cover;
      order: 1;
    }
  }
}
