.section-two {
  position: static;
  height: auto;
  display: flex;
  flex-direction: column;
  article {
    padding: 20px 0;
    order: 2;
  }
  .right-img {
    margin: 0 auto;
    height: 200px;
    width: 90%;
    position: static;
    object-fit: cover;
    order: 1;
    z-index: 0;
  }
}
