.product-section {
  margin-left: auto;
  h2 {
    margin-bottom: 20px;
  }
  .product-list {
    align-items: center;
    li {
      margin-bottom: 30px;
      margin-right: 0;
      .flag {
        top: 60px;
        left: 0;
      }
      img {
        height: 400px;
      }
    }
  }
}
